@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap');


.cor_curso_informatica{
  color: #b505e6
}

.cor_curso_eletronica{
  color: green
}

.cor_curso_eletrotecnica{
  color: #00d5ff
}

.cor_curso_quimica{
  color: red
}

.cor_curso_edificacoes{
  color: black
}

.cor_curso_estradas{
  color: #636363
}

.cor_curso_mecanica{
  color: yellow
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #7158cc;
  text-align: justify;
  padding: 0;
  margin: 0;
}

.h1principal {
  text-align: center;
  font-family: 'Sora', sans-serif;
  margin: 0.5em 0;
  font-size: clamp(40px, 5vw, 95px);
  width: 100vw;
}

.h1principalhorarios {
  text-align: center;
  font-family: 'Sora', sans-serif;
  margin: 0.5em 0;
  font-size: clamp(40px, 5vw, 95px);
  width: 100vw;
  color: black;
}

section {
  padding: 1em;
  justify-content: center;
  background-color: white;
  height: max-content;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
}

.topicos {
  font-size: clamp(25px, 3vw, 35px);
}

.textoOBJETIVO {
  font-family: 'Space Grotesk', sans-serif;
  font-size: clamp(15px, 2vw, 25px);
}